service cloud.firestore {
  match /databases/{database}/documents {
      // allow read, write: if true
    // function isUsernameAvailable (nickname)

    match /{document=**} {
      // allow read, write: if true
      allow read, write: if request.time < timestamp.date(2023, 3, 23);
      // allow read, write: if request.auth.uid != null;
    }
    // match /users/{userID}
  }
}
